// out: ../css/style.css
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("./variables.less");

html {
  font-size: 10px;
}

body {
  font-family: "Quicksand", Courier, monospace;
  overflow-x: hidden;
}

.help-background {
  background-color: #f5fcfd;
}

.footer-background {
  background-color: @brand-color;
}

.header {
  &__background {
    position: absolute;
    height: 1060px;
    width: 100%;
    z-index: -1;
    background-image: url("../img/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      width: 18rem;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      background-color: @brand-color;

      color: #fff;
      font-size: 3.6rem;
      font-weight: 700;
    }
  }

  &__description {
    margin-top: 10rem;
  }

  &__devices {
    position: relative;
    margin-top: 15.5rem;
    height: 48rem;

    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.navigation {
  ul {
    margin: 0;
    padding: 0;
    width: 580px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    text-transform: uppercase;
    color: @help-text;
    font-size: 1.6rem;
    font-weight: 500;

    &:hover {
      text-decoration: none;
      color: @brand-color;
    }
  }

  &__signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: #0063dd;
    width: 16.5rem;
    height: 5rem;
    border-radius: 2.5rem;

    &:hover {
      color: #fff;
      background-color: #0052cc;
      text-decoration: none;
    }
  }
}

.description {
  text-align: center;
  &__header {
    font-size: 3.6rem;
    font-weight: 700;
  }

  &__text {
    margin-top: 1.5rem;
    font-size: 1.6rem;
    color: @help-text;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
  }

  &__download {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    background-color: @brand-color;
    width: 16.5rem;
    height: 5rem;
    border-radius: 2.5rem;

    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #0052cc;
    }
  }

  &__trial {
    display: flex;
    justify-content: center;
    align-items: center;
    color: @brand-color;
    font-weight: 500;
    font-size: 1.6rem;
    border: 0.2rem @brand-color solid;
    width: 16.5rem;
    height: 5rem;
    border-radius: 2.5rem;
    &:hover {
      text-decoration: none;
      color: @brand-color;
    }
  }
}

.features-cards {
  padding: 15rem 0;
}

.features-card {
  height: 30rem;
  padding: 3rem 2rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  background-clip: padding-box;
  background-color: #fff;
  text-align: center;
  

  &:nth-child(2) {
    margin-top: 5rem;
  }

  &__icon {
    margin: 0 auto;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;

    img {
      width: 31px;
      height: 31px;
    }

    &_blue {
      background-color: #dfedff;
    }

    &_pink {
      background-color: #f5dfff;
    }

    &_green {
      background-color: #dfffe3;
    }
  }

  &__header {
    font-size: 1.8rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  &__caption {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    color: #929292 !important;
  }
}

.features-stuff {
  position: relative;
  min-height: 1200px;
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/features-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.feature-staff-card {
  &__images {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    margin-left: -7rem;
    img {
      &:first-child {
        height: 50rem;
        width: auto;
      }
      &:last-child {
        height: 44rem;
        width: auto;
        margin-left: -20rem;
      }
    }
  }

  &__header {
    font-size: 3.2rem;
  }

  &__caption {
    margin: 3rem 0;
    font-size: 1.6rem;
    color: @help-text;
  }

  &__link {
    font-size: 1.6rem;
    font-weight: bold;
  }
}

.how-work {
  text-align: center;
  padding: 10rem 0;

  &__header {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__caption {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: @help-text;
  }

  &__card {
    padding-top: 5rem;

    &-icon {
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: 50%;
      background-color: rgb(223, 237, 255);
      width: 100px;
      height: 100px;
    }

    &-header {
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
    }

    &-caption {
      margin-top: 2rem;
      font-size: 1.6rem;
      color: @help-text;
    }
  }
}

.pricing {
  padding: 15rem 0;

  &__header {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__caption {
    padding: 3rem 0;
    font-size: 1.6rem;
    color: @help-text;
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    width: 33rem;

    font-size: 1.6rem;
    color: @brand-color;
    font-weight: 700;
    border: 1px @brand-color solid;
    border-radius: 2.5rem;

    &-btn {
      margin: -1px;
      width: 100%;
      border-radius: 2.5rem;
      padding: 1rem 5rem;

      &:hover {
        text-decoration: none;
      }
    }

    .active {
      width: 100%;
      background-color: @brand-color;
      color: #fff;
    }
  }

  &-card {
    padding-top: 5rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 68px 0px rgba(165, 165, 165, 0.25);
    width: 100%;
    height: 576px;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon {
      &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: rgb(207, 228, 254);
        width: 75px;
        height: 75px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: rgb(223, 237, 255);
      width: 100px;
      height: 100px;
    }

    &__header {
      font-size: 1.8rem;
      font-weight: 700;
      margin-top: 2rem;
    }

    &__list {
      margin-top: 4rem;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &-item {
        font-size: 1.6rem;
        color: @help-text;
        line-height: 3.5rem;
      }
    }

    &__price {
      font-size: 3.2rem;
      color: @brand-color;
      line-height: 2.25;
      font-weight: 700;

      span {
        font-size: 1.8rem;
      }
    }

    &__btn {
      padding: 1rem 5rem;
      display: block;
      font-size: 1.8rem;
      font-weight: 700;
      border: 1px @brand-color solid;
      color: @brand-color;
      border-radius: 2.5rem;
      &:hover {
        text-decoration: none;
        background-color: @brand-color;
        color: #fff;
      }
    }
  }
}

.feedback {
  position: relative;
  padding: 12rem 0;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/feedback-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
  }

  &__content {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ffffff96;
  }

  &__header {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__carusel {
    margin-top: 5rem;
  }
}

.carusel {
  &__group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  &__item {
    margin: 0;
    padding: 3.5rem 2.5rem;
    width: 48%;
    background-color: #fff;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 25px 0px rgba(165, 165, 165, 0.1);

    &-header {
      display: flex;
      justify-content: space-between;
      h4 {
        font-size: 1.8rem;
        font-weight: 600;
      }
      img {
        height: 12px;
        width: 17px;
      }
    }

    &-role {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      color: @help-text;
    }

    &-description {
      margin-top: 2rem;
      font-size: 1.6rem;
      color: @help-text;
    }
  }

  &__settings {
    margin-top: 3rem;
    width: 9rem;
    display: flex;
    justify-content: space-between;
    .carusel__dot {
      cursor: pointer;
      background: #d4d4d4;
      width: 2rem;
      height: 1rem;
      border-radius: 1rem;
    }

    .active {
      background-color: @brand-color;
      width: 3rem;
    }
  }
}

.news {
  padding: 13rem 0;
  &__header {
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__caption {
    margin: 3rem 0;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.25;
    color: @help-text;
  }

  &__latest {
    img {
      max-width: 90%;
    }

    &-header {
      margin: 2rem 0;
      font-size: 2.4rem;
      color: @brand-color;
      line-height: 1.5;

      a {
        &:hover {
          color: @brand-color;
        }
      }
    }

    &-caption {
      margin-bottom: 2rem;
      font-size: 1.6rem;
      color: @help-text;
      line-height: 1.7;
    }

    &-link {
      font-size: 1.6rem;
      font-weight: 700;
      color: @brand-color;
      line-height: 1.7;
    }
  }

  &__right-side {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__another {
    display: flex;
    justify-content: space-between;

    &-body {
      margin-left: 2rem;
      img {
        max-width: 100%;
      }
      &-header {
        font-size: 1.8rem;
        font-weight: 600;

        line-height: 1.5;

        a {
          color: rgb(51, 51, 51);

          &:hover {
            color: @brand-color;
            text-decoration: none;
          }
        }
      }

      &-caption {
        margin-top: 2rem;
        font-size: 1.6rem;
        color: @help-text;
        line-height: 1.688;
      }
    }
  }
}

.get-started {
  padding: 12rem 0;

  &__header {
    font-size: 3.2rem;
    font-weight: 600;
  }

  &__caption {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: @help-text;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border-radius: 5px;
    background-color: @brand-color;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;

    svg {
      margin-left: 1rem;
    }

    &:hover {
      text-decoration: none;
      color: #fff;
      background-color: #0063dd;
    }
  }
}

.subscribe {
  padding: 12rem 0;
  text-align: center;

  &__header {
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
  }
}

.input-form {
  margin-top: 3rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 2px #fff solid;
  border-radius: 4rem;

  input {
    padding: 1.5rem 2rem;
    width: 100%;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.8rem;

    &::placeholder {
      color: #fff;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    margin: -2px;
    width: 16rem;
    background-color: #fff;
    border: 2px #fff solid;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: @brand-color;
  }
}

.footer {
  position: relative;
  margin-top: 2px;
  padding: 4rem;
  color: #fff;

  &__copyrights {
    font-size: 1.6rem;
  }

  &__nav,
  &__social {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item {
      font-size: 1.6rem;
      color: #ddd;

      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
  }

  &__social {
    ul {
      width: 8rem;
    }
  }

  &__up-btn {
    position: absolute;
    bottom: 3rem;
    right: -10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 45px;
  }
}

.burger-menu {
  display: none;
  width: 50px;
  height: 50px;
  position: relative;
}
.burger-menu span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  margin-top: 8px;
  background: #000;
}
.burger-menu span:first-child {
  margin-top: 0;
}
.burger-menu .lines,
.burger-menu .crossed {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu .crossed {
  display: none;
}
.burger-menu .lines {
  display: block;
}
.burger-menu.active .crossed {
  display: block;
}
.burger-menu.active .lines {
  display: none;
}
.burger-menu.active .crossed span {
  position: absolute;
  margin: 0;
  width: 100%;
}
.burger-menu.active .crossed span:first-child {
  transform: rotateZ(45deg);
}
.burger-menu.active .crossed span:last-child {
  transform: rotateZ(-45deg);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1366px) {
  .footer {
    &__up-btn {
      margin: 1rem auto 0 auto;
      position: relative;
      bottom: unset;
      right: unset;
    }
  }
}

@media screen and (max-width: 1200px) {
  .features-stuff {
    min-height: 1600px;
  }

  .feature-staff-card {
    &__block {
      &:last-child {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
      text-align: center;
      background-color: #ffffff96;
      border-radius: 1rem;
      max-width: 80%;
      margin: 0 auto;
    }
  }

  .features-card {
    margin-top: 2rem;
    border: none;

    &:nth-child(2) {
      margin-top: 2rem;
    }
  }

  .pricing {
    text-align: center;

    &__btns {
      margin: 0 auto;
    }

    &-card {
      margin: 1rem auto;
    }
  }

  .news {
    &__latest {
      text-align: center;
    }

    &__another {
      margin: 2rem auto;
    }
  }

  .get-started {
    text-align: center;
  }

  .footer {
    text-align: center;

    &__nav {
      ul {
        justify-content: center;
        li {
          padding: 0 1rem;
        }
      }
    }
    &__social {
      ul {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    &__devices {
      display: none;
    }

    &-top {
      &__navigation {
        display: none;
      }
    }

    .burger-menu {
      display: inline-block;
    }
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }

  .news {
    &__right-side {
      img {
        display: none;
      }
      
    }
  }

  .features-stuff {
    min-height: 500px;
  }
  .feature-staff-card {
    &__block {
      margin-top: 3rem;
    }

    &__images {
        display: none;
    }
  }
}
